*{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

p{
    color: grey;
}

.full-name{
    font-weight: bold;
    font-size: 80px;
    font-family: Bebas Neue;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
    padding-top: 150px;
}



.name{
    padding-top: 150px;
}

.name1{
    color: #363958;
}

.name2{
    color:#FF8367 ;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    
}

.header-paragraph{
    margin-bottom: 30px;
    text-align: justify;
}

.head-margin{
    margin-top: 150px;
    font-family: Bebas Neue;
    font-size: 48px;
    color:#363958;
}
    
}

.bio-details{
    padding-left: 40px;
}

.column{
    float:left;
    width: 30%;
    padding: 0px 10px;
    margin-left: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: left;
    border-radius: 20px;
    background-color: white;
  }

.card-img{
    height: 100%;
    width: 100%;
}

.row{
    background-color: #F8F9FC;
}

.project-title{
    font-family: Bebus Neue;
    font-size: 48px;
    text-align: center;
    padding-bottom:40px;
}

.chat{
    background-image: linear-gradient(45deg, #5D69E9, #4225B6);
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left:400px;
    margin-right:400px;
    margin-bottom: 50px;
    border-radius: 15px;
    height: 100px;
}

.work{
    float: left;
    width: 50%;
    padding: 20px 0px;
}


